<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
    <title>About</title>
</head>

<body>
    <div class="mainContent">
        {{>header}}
        <p>This web application takes the address of a place as input and returns the weather forecast and related information as output.</p>
        <p>OpenWeather API for weather forecast and Mapbox API for geocoding have been used in this web application.</p> 
    </div>
    {{>footer}}
</body>

</html>